<section id="current_litter">
	<h1>Current Litter</h1>
	<article id="sireDam_info">
		<div id="tai_info">
			<h3>Dam: Tai Yemane</h3> <br/>
			<img src="../../assets/images/tai.jpg" width="253" height="404" alt="Tai">
		</div> 
		<div id="leo_info">
			<h3>Sire: Otterpond's Leonardo Di Chulp</h3> <br/>
			<img src="../../assets/images/leo.jpg" width="360" height="486" alt="Leo">
		</div>
	</article>
	<article id="doberman_puppies">
		<h2>Doberman Puppies</h2>
		<p>American Kennel Club Registered full bred Doberman Pincher puppies born February 3, 2013.<br/> 
		Dewclaws removed, tails docked, and up-to-date on shots. We have 12 puppies, 7 females and 5 males.</p>
		<img src="../../assets/images/puppyPic_small.JPG" width="600" height="338" alt="PuppyPic Small">
	</article>
</section> 